{
  "singleQuote": true,
  "printWidth": 120,
  "semi": false,
  "arrowParens": "avoid",
  "plugins": ["prettier-plugin-jsdoc"],
  "trailingComma": "all",
  "experimentalTernaries": true,
  "tsdoc": true,
  "jsdocPreferCodeFences": true
}
